<server description="defaultServer">

	<!-- Enable features -->
	<featureManager>
		<feature>jsf-2.3</feature>
		<feature>jaxrs-2.1</feature>
		<feature>ejbLite-3.2</feature>
		<feature>jpa-2.2</feature>
		<feature>cdi-2.0</feature>
		<feature>beanValidation-2.0</feature>
		<feature>jaxb-2.2</feature>
		<feature>jsonb-1.0</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint host="*" httpPort="9080"
		id="defaultHttpEndpoint" />

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true" />

	<dataSource id="JakartaEECafeDB"
		jdbcDriverRef="postgresql-driver" jndiName="jdbc/JakartaEECafeDB"
		transactional="true" type="javax.sql.ConnectionPoolDataSource">
		<properties databaseName="postgres"
			password="${env.POSTGRES_PASSWORD}" portNumber="5432"
			serverName="${env.POSTGRES_SERVER}" user="${env.POSTGRES_USER}" />
	</dataSource>

	<jdbcDriver id="postgresql-driver"
		javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
		javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
		libraryRef="postgresql-library" />

	<library id="postgresql-library">
		<fileset dir="${shared.resource.dir}" id="PostgreSQLFileset"
			includes="postgresql-42.2.23.jar" />
	</library>
</server>